{% extends "squelette.html" %}

{% block corps %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <h3 class="header center blue-text ">A propos</h3>
            <div class="row center">
                <p class="light"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus obcaecati optio rerum sint vitae? Aperiam dolor eaque eius expedita, nemo odio officiis perferendis sed suscipit temporibus totam vero voluptas voluptatem.</span><span>Consequatur illum ipsum molestiae. Adipisci commodi, corporis deleniti doloribus eius exercitationem id inventore itaque iure minus nihil officiis praesentium quos repellat saepe suscipit tempore totam voluptate. Inventore itaque libero veniam.</span></p>
            </div>
        </div>
  </div>
{% endblock %}