{% extends "squelette.html" %}

{% block corps %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <h3 class="header center blue-text ">A propos</h3>
            <div class="row">
                <div class="col s6">

                </div>
                <div class="col s6">
                    <p class="light">
                        <blockquote>
                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, adipisci asperiores atque
                                distinctio doloremque ducimus ea eaque, est eum explicabo harum illo iste nemo neque optio porro
                                sint sit totam.
                            </div>
                            <div>Amet consequuntur distinctio doloribus ea eius facilis fugit laborum maxime minima, modi natus
                                nemo possimus saepe similique sit? Architecto aspernatur dolorem exercitationem hic illo,
                                laboriosam porro quisquam tenetur ullam voluptatem.
                            </div>
                            <div>Ad dignissimos excepturi exercitationem illum inventore nam nisi porro quam repellendus
                                veritatis! Ab alias dolorum eligendi ex expedita facere, illo illum ipsa mollitia nihil
                                obcaecati, quae quisquam sapiente totam, voluptas.
                            </div>
                        </blockquote>
                    </p>
                </div>
            </div>

            <div class="divider"></div>
            <h3 class="center blue-text ">Etudes</h3>
            <div class="row">
                <div class="card light-blue">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width tabs-transparent">
                            <li class="tab"><a href="#test1" style="" class="">Brevet</a></li>
                            <li class="tab"><a class="" href="#test2" style="">Baccalauréat</a></li>
                            <li class="tab"><a href="#test3" style="">Bachelor 1</a></li>
                            <li class="tab"><a href="#test4" style="" class="active">En cours</a></li>
                            <li class="indicator" style="right: 1px; left: 346px;"></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="test1" style="display: none;" class="">
                            <h5>Brevet des collèges</h5><br>
                            Collège Jasmin-les-îles à Agen <br>
                            <i>2009 - 2013</i>
                            </div>
                        <div id="test2" class="" style="display: none;">
                            <h5>Baccalauréat - Scientifique</h5><br>
                            Lycée Bernard Palissy à Agen <br>
                            <i>2013 - 2016</i>
                        </div>
                        <div id="test3" style="display: none;" class="">
                            <h5>Bachelor 1 - Informatique</h5><br>
                            Ingesup à Bordeaux <br>
                            <i>2016 - 2017</i>
                        </div>
                        <div id="test4" class="active">
                            <h5>Bachelor 2 - Informatique</h5><br>
                            Ingesup à Bordeaux <br>
                            <i>2017 - 2018</i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>
            <h3 class="center blue-text ">Expériences & Projets</h3>
                <div class="row">
                    <div class="col s12">
                    <div class="col s4">
                        <div class="card light-blue">
                            <div class="card-content white-text">
                                <span class="card-title">Carbet des chouettes</span>
                                <p>Création du site de location cabanes(en cours)</p>
                                <br><br>
                                <div class="chip">Jquery</div>
                                <div class="chip">Javascript</div>
                                <div class="chip">Django</div>
                                <div class="chip">HTML</div>
                            </div>
                            <div class="divider light-blue darken-3"></div>

                            <div class="card-action">
                                <a href="http://locationcabanesdanslesarbres.com/" target="_blank" class="blue-text text-darken-4">Lien vers le site</a>
                                <a href="https://github.com/dorianWilhelm/cdcv2" target="_blank" class="blue-text text-darken-4">Repository GitHub</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s4">
                        <div class="card light-blue">
                            <div class="card-content white-text">
                                <span class="card-title">Projet Titanic Kaggle</span>
                                <p>Appliquer des outils machine learning pour prédire quels passagers ont survécu.</p>
                                <br>
                                <div class="chip">Machine-learning</div>
                                <div class="chip">Python</div>
                                <div class="chip">RandomForest</div>
                            </div>
                            <div class="divider light-blue darken-3"></div>

                            <div class="card-action">
                                <a href="https://www.kaggle.com/c/titanic" target="_blank" class="blue-text text-darken-4">Lien vers le site</a>
                                <a href="https://github.com/ludel/cours-b1/tree/master/python/titanic" target="_blank" class="blue-text text-darken-4">Repository GitHub</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="card light-blue">
                            <div class="card-content white-text">
                                <span class="card-title">Bénévolat Marathon de Bordeaux</span>
                                <p>Gestion du parcours pour les coureurs.</p>
                                <br><br>
                                <div class="chip">Bordeaux</div>
                                <div class="chip">15 Avril 2017</div>
                            </div>
                            <div class="divider light-blue darken-3"></div>

                            <div class="card-action">
                                <a href="http://locationcabanesdanslesarbres.com/" target="_blank" class="blue-text text-darken-4">Lien vers le site</a>
                                <a href="http://locationcabanesdanslesarbres.com/" target="_blank" class="blue-text text-darken-4">Repository GitHub</a>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col s12">
                    <div class="col s4">
                        <div class="card light-blue">
                            <div class="card-content white-text">
                                <span class="card-title">Olibrairy</span>
                                <p>Création d’un portail de gestion de fonds documentaires.</p>
                                <br>
                                <div class="chip">CodeIgniter</div>
                                <div class="chip">PHP</div>
                                <div class="chip">Mysql</div>
                                <div class="chip">HTML</div>
                                <div class="chip">CSS</div>
                            </div>
                            <div class="divider light-blue darken-3"></div>

                            <div class="card-action">
                                <a href="http://dataservercenon.ddns.net" target="_blank" class="blue-text text-darken-4">Lien vers le site</a>
                                <a href="https://github.com/dorianWilhelm/OLibraryV3" target="_blank" class="blue-text text-darken-4">Repository GitHub</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s4">
                        <div class="card light-blue">
                            <div class="card-content white-text">
                                <span class="card-title">Stockapart</span>
                                <p>Création du site de location de garages(en cours) </p><br>
                                <br>
                                <div class="chip">Django</div>
                                <div class="chip">Python</div>
                                <div class="chip">Js/Jquery</div>
                                <div class="chip">Materelized</div>
                            </div>
                            <div class="divider light-blue darken-3"></div>

                            <div class="card-action">
                                <a href="https://www.stockapart.com/" target="_blank" class="blue-text text-darken-4">Lien vers le site</a>
                            </div>
                        </div>
                    </div>


                </div>
                </div>


            <div class="divider"></div>
            <h3 class="center blue-text ">Compétences</h3>

            <div class="row">
                <p>Work in progress</p>
            </div>

        </div>
    </div>
{% endblock %}